.wrap {
  margin: 0 auto;
  width: 155px;
  position: relative;
}

.rectangl {
  width: 100px;
  height: 70px;
  background-color: black;
}

.rectangl:before {
 content: "";
 display: block;
 width: 0;
 height: 0;
 border-top: 20px solid transparent;
 border-bottom: 20px solid transparent;
 border-right: 35px solid black;
 position: absolute;
 top: 12px;
 left: -35px;
}
